extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===patient ? '' : patient.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===patient ? '' : patient.family_name))
              
      label(for='gender') Gender:
      select#gender.form-control(type='select', placeholder='Select gender' name='gender' required='true' )
        - let genderList= ['Male', 'Female']
        each variable in genderList
          option(value=variable, selected=( (undefined!=patient && variable==patient.gender) ? 'selected' : false) ) #{variable}
    
      label(for='diagnosis') Diagnosis:
      input#diagnosis.form-control(type='text', placeholder='Diagnosis' name='diagnosis' required='true' value=(undefined===patient ? '' : patient.diagnosis))
      label(for='treatment') Treatment:
      input#treatment.form-control(type='text', placeholder='Treatment' name='treatment' value=(undefined===patient ? '' : patient.treatment))

      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date', name='date_of_birth' value=(undefined===patient ? '' : patient.date_of_birth_yyyy_mm_dd) )
   
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg